<td class="hide_print" (click)="clique_une_cotisation_2(une_cotisation)"><input [checked]="une_cotisation.checked"
        class="form-check-input " type="checkbox"></td>
<td class="show_print">{{index+1}}</td>
<td>{{une_cotisation.matricule}}</td>
<td (click)="openModalWithComponent(une_cotisation)">
    <button type="button" class="btn btn-link rounded-pill">{{une_cotisation.prenom}}</button>
</td>
<td (click)="openModalWithComponent(une_cotisation)">
    <button type="button" class="btn btn-link rounded-pill">{{une_cotisation.nom}}</button>
</td>
<td>{{une_cotisation.montant_amande_total}}</td>
<td class="hide_print">
    <select [(ngModel)]="une_cotisation.montant" class="form-select form-select-sm"
        (change)="changement_select_montant(une_cotisation)">
        <option value="undefined">Choisir le montant</option>
        <option value="10">10 Euros</option>
        <option value="20">20 Euros</option>
        <option value="30">30 Euros</option>
    </select>
</td>
<td class="hide_print">
    <input [(ngModel)]="une_cotisation.date_cotisation" type="date" class="form-control" placeholder="date">
</td>