<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Cot. du mois</p>
                    <h6 class="mb-0">{{api.dashboard_data.caisse_mois+" Fcfa"}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Cot. Moyenne</p>
                    <h6 class="mb-0">{{api.dashboard_data.cotisation_moyenne+ " Fcfa"}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Participation</p>
                    <h6 class="mb-0">{{api.dashboard_data.taux_participation+" %"}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total cotisation</p>
                    <h6 class="mb-0">{{api.dashboard_data.total_caisse+" Fcfa"}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->


<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- <div class="col-sm-12 col-xl-6">
            <app-cotisation-mois></app-cotisation-mois>
        </div> -->
        <div class="col-sm-12 col-xl-6">
            <app-graph-evolution-montant-global ></app-graph-evolution-montant-global>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-cotisation-global></app-cotisation-global>
        </div>
    </div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Les meilleurs membres</h6>
            <a [routerLink]="['/accueil/membre']" routerLinkActive="router-link-active">voir plus</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Matricule</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Montant Total</th>
                        <th scope="col">Taux</th>
                        <th scope="col">Numéro</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let un_membre of api.dashboard_data.membres | slice:0:5 |filter:api.terme_recherche">
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>{{un_membre.matricule}}</td>
                        <td>{{un_membre.prenom}}</td>
                        <td>{{un_membre.nom}}</td>
                        <td>{{un_membre.montant_total}}</td>
                        <td>{{"100%"}}</td>
                        <td>{{un_membre.numero}}</td>
                        <td>
                            <button (click)="openModalWithComponent(un_membre)" class="btn btn-primary">détails</button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->