<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Les meilleurs participants</h6>
            <a [routerLink]="['/accueil/membre/add']" routerLinkActive="router-link-active"><i class="fa-solid fa-circle-plus me-2"></i>Ajouter un membre</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Matricule</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Poste</th>
                        <th scope="col">Numéro</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let un_membre of api.les_membres  |filter:api.terme_recherche">
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>{{un_membre.matricule}}</td>
                        <td>{{un_membre.prenom}}</td>
                        <td>{{un_membre.nom}}</td>
                        <td>{{un_membre.poste}}</td>
                        <td>{{un_membre.numero}}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="">Detail</a>
                            <a class="btn btn-sm btn-warning m-1"
                                [routerLink]="['/accueil/membre/edit',un_membre.id]">mofifier</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>