<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">Cotisation</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="assets/img/amar.png" alt="" style="width: 40px; height: 40px;">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{api.user_connected.prenom+" "+api.user_connected.nom}}</h6>
                <span>{{api.user_connected.poste}}</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a h class="nav-item nav-link" [routerLink]="['/accueil']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="router-link-active" ><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a h class="nav-item nav-link" [routerLink]="['/accueil/cotisation']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" routerLinkActive="router-link-active" ><i class="fa-solid fa-sack-dollar me-2"></i>Cotisation</a>
            <a h class="nav-item nav-link" [routerLink]="['/accueil/membre']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="router-link-active" ><i class="fa-solid fa-people-group me-2"></i>Membre</a>
            <a h class="nav-item nav-link" [routerLink]="['/accueil/amande']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="router-link-active" ><i class="fa-solid fa-filter-circle-dollar me-2"></i>Amande</a>
            <a h class="nav-item nav-link" [routerLink]="['/accueil/realisation']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="router-link-active" ><i class="fa-solid fa-hand-holding-dollar me-2"></i>Réalisation</a>
            <a h class="nav-item nav-link" [routerLink]="['/accueil/parametre']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="router-link-active" ><i class="fa-solid fa-sliders me-2"></i>Parametres</a>
        </div>
    </nav>
</div>