<div class=" les_domaines">
    <span (click)="go_left()" class="fleche gauche">&lt;</span>
    <div class="liste_inline">
        <div (click)="select_periode(une_periode)" [routerLink]="['/accueil/cotisation',une_periode.id_periode]"  [ngClass]="{'active': selected_id_periode==une_periode.id_periode}" *ngFor="let une_periode of api.les_periodes" class="bg-white rounded d-flex align-items-center justify-content-between p-4 m-2 clique">
            <i class="fa fa-calendar fa-3x text-primary"></i>
            <div class="ms-3">
                <p class="mb-2">{{une_periode.mois}}</p>
                <h6 class="mb-0">{{une_periode.annee}}</h6>
            </div>
        </div>
    </div>
    <span (click)="go_right()" class="fleche droite">&gt;</span>
</div>