<div class="container-fluid position-relative bg-white d-flex p-0">
 
    <app-sidebar></app-sidebar>
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
       <app-navbar></app-navbar>
        <!-- Navbar End -->
        <router-outlet></router-outlet>
        <!-- Footer Start -->
       <app-footer></app-footer>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <!-- <a class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->
</div>