<div class="container-fluid pt-4 px-4" id="print-section">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h3 class="mb-0 ">{{"Amandes Encaissées ("+api.les_amandes.encaissees?.length+" / "+(api.les_amandes.encaissees?.length+api.les_amandes.non_encaissees?.length)+")"}}
                
            </h3>
            <form class="d-none d-md-flex ms-4">
                <input name="terme_recherche" class="form-control border-0" type="search" placeholder="rechercher"
                    [(ngModel)]="filter.encaissees">
            </form>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Amande</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Matricule</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Date limite</th>
                        <th scope="col" class="hide_print">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clique"  *ngFor="let une_cotisation of api.les_amandes.encaissees| filter:filter.encaissees">
                        <td><input [checked]="une_cotisation.checked" class="form-check-input" type="checkbox"></td>
                        <td>{{une_cotisation.titre}}</td>
                        <td>{{une_cotisation.montant}}</td>
                        <td>{{une_cotisation.matricule}}</td>
                        <td>{{une_cotisation.prenom}}</td>
                        <td>{{une_cotisation.nom}}</td>
                        <td>{{une_cotisation.date_limite}}</td>
                        <td class="hide_print">
                            <button (click)="openModalWithComponent(une_cotisation)" class="btn btn-primary">détails</button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <hr>
        <br>
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h3 class="mb-0 text-warning">{{"Amandes non encaissées ("+api.les_amandes.non_encaissees?.length+" / "+(api.les_amandes.encaissees?.length+api.les_amandes.non_encaissees?.length)+")"}}
                
            </h3>
            <form class="d-none d-md-flex ms-4">
                <input name="terme_recherche" class="form-control border-0" type="search" placeholder="rechercher"
                    [(ngModel)]="filter.non_encaissees">
            </form>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Amande</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Matricule</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Date limite</th>
                        <th scope="col" class="hide_print">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clique"  *ngFor="let une_cotisation of api.les_amandes.non_encaissees| filter:filter.non_encaissees">
                        <td><input [checked]="une_cotisation.checked" class="form-check-input" type="checkbox"></td>
                        <td>{{une_cotisation.titre}}</td>
                        <td>{{une_cotisation.montant}}</td>
                        <td>{{une_cotisation.matricule}}</td>
                        <td>{{une_cotisation.prenom}}</td>
                        <td>{{une_cotisation.nom}}</td>
                        <td>{{une_cotisation.date_limite}}</td>
                        <td class="hide_print">
                            <button (click)="openModalWithComponent(une_cotisation)" class="btn btn-primary">détails</button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>